/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/theme";
@import "slider";

.jumbotron{
  padding: 0;
}
#imaginary_container .form-control{
  height: 35px;
}
.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.panel.panel-primary{
  border-color: #ddd;
}
.container-fluid{
  height: 508px;
}
ul#twid{
  list-style-type: none;
  margin-left: -45px;

}
input#searchTweet.form-control{
  border: 1px solid #ccc;
  border-radius: 3px;
}
.input-group {
  width: 100%;
}

.panel.panel-primary {
  height: 400px;
  overflow: scroll;
}




        #mapid {
            height: 80vh;
            width: auto;
        }

        .my-div-icon1 {
            font-size: 19px;
            height: auto;
            background-color: rgba(233, 41, 22, 0.8);
            display: inline-block;
            ;
            position: absolute;
            width: auto;
            /*font-size:20px;*/
            font-weight: 600;
            white-space: nowrap;
            float: left;
            /*padding: 2px 2px 4px 2px;*/
            border-radius: 5px;
            color: white;
            /*margin:50px;*/
        }

        .my-div-icon1:hover {
            opacity: 1.0;
        }

        .my-div-icon2:hover {
            opacity: 1.0;
        }

        .my-div-icon3:hover {
            opacity: 1.0;
        }

        .my-div-icon2 {
            font-size: 12px;
            height: auto;
            background-color: rgba(0, 41, 60, 0.9);
            display: block;
            position: absolute;
            width: auto;
            font-size: 15px;
            white-space: nowrap;
            /*padding: 2px 2px 1px 2px;*/
            border-radius: 5px;
            color: white;
            /*text-shadow: 20px;*/
        }

        .my-div-icon3 {
            height: auto;
            background-color: green;
            display: block;
            position: absolute;
            width: auto;
            font-size: 14px;
            text-align: center;
            white-space: nowrap;
            font-weight: 400;
            color: white;
        }
